//General Styles
@import "./variables";
@import "./maps";
@import "./utility";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Dosis", sans-serif;
  src: url("../fonts/Dosis-VariableFont_wght.ttf");
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}
h1 {
  font-weight: 500;
}
a {
  text-decoration: none;
  color: color("dark");
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
}
//logo
#logo {
  width: 83px;
  height: 70px;
}

//main nav

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  ul {
    display: flex;
    li {
      padding: 1rem 1.5rem;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: background-color 0.5s;
      &:hover {
        border-color: $medium-color;
      }
      &.current {
        border-color: $main-color;
      }
    }
  }
}

li {
  padding: 1rem;
}
//Header

#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #ffffff;

    .header-content {
      text-align: center;
      padding-top: 20%;
      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    color: #ffffff;
    border-bottom: 3px solid $main-color;
  }
}
//About
#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: "bioimage bio bio";
      grid-gap: 1.2rem;
    }

    //Grid area
    .bio-image {
      grid-area: bioimage;
    }
    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
    }
  }
}
